.card-container {
    display: flex;
    flex-direction: column;

    width: 30%;
    height: max-content;

    margin: 20px 20px;
    margin-right: 0px;

    color: #e6e6e9;
    background-color: #448cce;
    border-radius: 10px;
    border: 2px solid #597d9f;
}

.card-info {
    padding: 15px 20px;
}

.card-container img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-desc {
    font-size: 15px;
}

@media only screen and (max-width : 650px) {
    .card-container{
        width: 90%;

        margin: 20px 0px;
    }
}