.navbar-container {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-evenly;

    width: 100%;
    height: max-content;

    background-color: #080312;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navbar-ele {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20px;
    width: 100px;

    margin: 30px;
    padding: 10px;
}