.navbar-container {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-evenly;

    width: 100%;
    height: max-content;

    background-color: #080312;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navbar-ele {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20px;
    width: 100px;

    margin: 20px;
    padding: 10px;
}

.navbar-ele a {
    text-decoration: none;
    color: #e6e6e9;
}

.navbar-container a {
    max-height: 100px;

    text-decoration: none;
}

@media only screen and (max-width : 1224px) {
    .navbar-container{
        display: flex;
        justify-content: start;
    }

    .navbar-name {
        width: 100%;

        color: aliceblue;
        font-size: 175%;
    }
}