.profile-container {
    display: flex;
    justify-content: space-around;

    width: 80%;
    height: 500px;

    margin: 10vh 10%;
    margin-bottom: 75px;
}

.profile-photo {
    height: 100%;

    mask-image: url(../img/blob.svg);
    mask-repeat: no-repeat;

    -webkit-mask-image: url(../img/blob.svg);
  mask-image: url(../img/blob.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;  
}

.profile-name {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    font-size: 40px;
}

.profile-name span {
    font-size: 60px;
}

@media only screen and (max-width : 650px) {
    .profile-container{
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
    }

    .profile-container img{
        max-width: 100%;
        max-height: 100%;
    }
}