.skill-container {
    width: 80%;

    margin: 50px 10%;

    font-size: 40px;
    color: #ef8354;;
}

.skill-ele {
    display: flex;
    font-size: 20px;
    color: initial;
}

.skill-card-container{
    display: flex;
    flex-wrap: wrap;
}