.skill-card {
    display: flex;
    flex-direction: column;

    width: 20%;
    height: max-content;

    margin: 10px;
    padding: 20px;

    background-color: #448cce;
    /* background-color: #448cce; */
    border-radius: 10px;
    color: #e6e6e9;
}

.skill-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.skill-ele {
    display: flex;
    flex-wrap: wrap;
}

.skill-ele span {
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;

    font-size: 15px;
    background-color: #337DC1;
    border-radius: 5px;
    color: #e6e6e9;
}

.javascript {
    box-shadow: 0px 0px 9px 0px rgba(240, 219, 79, 0.9);
    border: 1px solid rgba(240, 219, 79, 1);
}

.react {
    box-shadow: 0px 0px 9px 0px rgba(101, 221, 251, 0.902);
    border: 1px solid rgba(101, 221, 251, 1);
}

.node {
    box-shadow: 0px 0px 9px 0px rgba(66, 139, 64, 0.9);
    border: 1px solid rgba(66, 139, 64, 1);
}

.express {
    box-shadow: 0px 0px 9px 0px rgba(58, 58, 56, 1);
    border: 1px solid rgba(58, 58, 56, 1);
}

.mongo {
    box-shadow: 0px 0px 9px 0px rgba(0, 122, 87, 0.9);
    border: 1px solid rgba(0, 122, 87, 1);
}

.rest {
    box-shadow: 0px 0px 9px 0px rgba(65, 4, 126, 1);
    border: 1px solid rgba(65, 4, 126, 1);
}

.git {
    box-shadow: 0px 0px 9px 0px rgba(219, 29, 96, 1);
    border: 1px solid rgba(219, 29, 96, 1);
}