@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Playfair+Display&family=Roboto&family=Roboto+Condensed&family=Satisfy&family=Titillium+Web&display=swap');

/* 
font-family: 'Neucha', cursive; Hand Written
font-family: 'Playfair Display', serif; Times new Roman
font-family: 'Roboto Condensed', sans-serif; Display
font-family: 'Roboto', sans-serif; Display
font-family: 'Satisfy', cursive; Hand Written
font-family: 'Titillium Web', sans-serif; Display
 */

#root {
    background-color: #DAF5FB;

    font-family: 'Roboto', sans-serif; 
}